<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Failure</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>

    <div class="jumbotron">
  <center>
  <h4>Not able to fetch result for searched query.</h4>
  <h4>Please retry or contact the developer.</h4>
  <br>

  <form action="/failure" method="post">
    <button type="submit" class="btn btn-warning" style="width: 10em">Try Again</button>
  </form>

  </center>

  <hr class="my-4">

    </div>

  </body>
</html>
